<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        :root {
            font-size: 16px;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
    <h1><%= data.name %></h1>
    <h2><%= data.job %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ratione consequuntur porro hic nostrum velit, natus consequatur similique odit magnam, facilis culpa dolores est amet in atque tenetur animi aperiam iste! Exercitationem sint, cum ex commodi velit omnis soluta dolorum tempora. Dolore in facilis et, sed corporis sint quis, cumque ex quos voluptates dignissimos. Aliquam reprehenderit laboriosam, nihil repudiandae quaerat doloremque. Culpa ullam sit laboriosam minima commodi provident. Cum ipsa quisquam deserunt aut rerum blanditiis a, sapiente fuga laborum expedita quibusdam, at obcaecati inventore iusto quaerat quas repellendus minus? Deleniti quos odio quasi ducimus atque saepe quia repellendus eos laudantium.</p>
</body>
</html>